/bin
/packages
/obj
/.vs
update-manifest.json
tools/command.txt
*.zip
/RealmLauncher/bin
/RealmLauncher/obj
/_steamworks_pkg_20
/_steamworks_pkg_2024
/_facepunch_pkg
/keys
*.pfx
*.snk
generate_update-manifest.ps1

sign_manifest.ps1

**/.vs/
*.dtbcache.json
