<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerConfigUrl" value="https://gist.githubusercontent.com/Landrut/b14952dd01f52b9267c1bad84faedc75/raw/realm-roleplay.json" />
    <add key="DiscordInviteUrl" value="https://discord.gg/Vw26qw4spu" />
    <add key="UpdateManifestUrl" value="https://gist.githubusercontent.com/Landrut/052e98e840a62835505698c8d409b1fd/raw/update-manifest.json" />
    <add key="NewsFeedUrl" value="https://gist.githubusercontent.com/Landrut/17bf997f7774832f976296f2f136a577/raw/news-feed.json" />
    <add key="AllowedRemoteHosts" value="gist.githubusercontent.com,github.com,api.steampowered.com,steamcdn-a.akamaihd.net,discord.gg" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
